{% extends "menu.html" %}

{% block title %}Магазин{% endblock %}

{% block content %}
<h1>Книги</h1>
<ul>
    {% for book in books %}
    <li>
        <strong>{{ book.title }}</strong> автор {{ book.author }}, жанр: {{ book.genre }}, - {{ book.cost }} руб.
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('add_to_basket', book_id=book.id) }}">Купить</a>
        {% else %}
            <p>Вы не авторизованы. Пожалуйста, <a href="{{ url_for('login') }}">войдите</a> в аккаунт или <a href="{{ url_for('sign_in') }}">зарегистрируйтесь</a>.</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}