<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('main') }}">Главная</a>
        <a href="{{ url_for('books_page') }}">Каталог</a>
        <a href="{{ url_for('basket') }}">Корзина</a>
        <span style="float: right;">
        {% if current_user.is_authenticated %}
            Добро пожаловать, {{ current_user.username }}! <a href="{{ url_for('logout') }}">Выйти</a>
        {% else %}
            <a href="{{ url_for('sign_in') }}">Зарегистрироваться</a>
            <a href="{{ url_for('login') }}">Войти</a>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>