{% extends "menu.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<h1>Регистрация</h1>
    <form action="{{ url_for('sign_in') }}" method="post">
        <div>
            <label>Имя пользователя:
                <input type="text" name="username" maxlength="30" required>
            </label>
        </div>
        <div>
            <label>Пароль:
                <input type="password" name="password" minlength="8" required>
            </label>
        </div>
        <div>
            <label>Повторите пароль:
                <input type="password" name="confirm_password" minlength="8" required>
            </label>
        </div>
        <div>
            <label>Возраст:
                <input type="number" name="age" min="1" max="120" required>
            </label>
        </div>
        <div>
            <input type="submit" value="Зарегистрироваться">
        </div>
    </form>
    <p>У вас уже есть учетная запись? <a href="{{ url_for('login') }}">Войти</a>.</p>
{% endblock %}